<!-- questo template elenca in 3 colonne tags o categorie -->
{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article role="article">
        <div>
          <main>
            <h2>{{ .Title }}</h2>
            <div class="elenchi">
              <ul style="color:black;">
                {{ range $taxonomy, $terms := site.Taxonomies }}
                <li>
                  {{ with site.GetPage $taxonomy }}
                  {{ .LinkTitle }}
                  {{ end }}
                  <ul style="color:blue;">
                    {{ range $term, $weightedPages := $terms }}
                    <li>
                      <a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a>
                      <ul style="color:red;">
                        {{ range $weightedPages }}
                        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                        {{ end }}
                      </ul>
                    </li>
                    {{ end }}
                  </ul>
                </li>
                {{ end }}
              </ul>
            </div>
      </article>
    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>

{{ partial "footer.html" . }}
