<!-- Partial for Archivio index -->
{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article role="article">
        <header>
          <h1 align="center">{{ with .Site.GetPage "section" "post" }}{{ .Title }}{{ end }}</h1>
          <header>
            <!-- genera elenco  dei post per anno e mese 
{{ $pages := cond (eq .Section "tags") .Data.Pages .Site.RegularPages }}
{{ $pages := cond (eq .Section "categories") .Data.Pages .Site.RegularPages }}
{{ $pages := where $pages "Type" "==" "post" }}
{{ $pages := cond (eq .Section "post") .Data.Pages .Site.RegularPages }}-->
            {{ range (.Paginate (.Pages.GroupByDate "2006")).PageGroups }}
            {{ $year := .Key }}
            <!--      <h3>Anno: {{ $year }}</h3> -->
            <ul>
              {{ range .Pages.GroupByDate "1" }}
              {{ $month := .Key }}
              <h3 class="archivio">{{ index site.Data.month $month }} {{ $year }}</h3>
              <div class="row">
                <ul class="senza">
                  <div class="elenchi">
                    {{ range .Pages }}
                    <li>
                      {{ .PublishDate | time.Format "Monday 2" }}
                      <a class="link" href={{ .RelPermalink }}>{{ .Title }}</a>
                    </li>
                    {{ end }}
                  </div>
                </ul>
              </div>
              {{ end }}
              {{ end }}
              <!-- fine elenco -->
              {{ partial "pagination.html" . }}
    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>
{{ partial "footer.html" . }}
