<!-- ranges through each of the content files associated with a particular taxonomy term and renders the titles -->
{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article role="article">
        <div>
          <main>
            <div>
              <h2>{{ .Title }}</h2>

              <ul class="senza">
                {{ range .Pages }}
                <li>
                  <a class="link" href={{ .RelPermalink }}>{{ .Title }}</a>
                  <span class="destra"><time>{{ .PublishDate | time.Format ":date_long" }}</time></span>
                </li>
                {{ end }}
              </ul>
            </div>
      </article>
    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>

{{ partial "footer.html" . }}
