<!-- questo template elenca in 2 colonne tags o categorie -->
{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article role="article">
        <div>
          <main>
            <h2>{{ .Title }}</h2>
            <div class="elenchi">
              <ul class="senza">
                {{ range .Data.Terms.ByCount }}
                <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> {{ .Count }}</li>
                {{ end }}
              </ul>
            </div>
      </article>
    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>

{{ partial "footer.html" . }}
