/* Questa è la parte di css che riguarda i commenti
Da rivedere secondo necessità
*/

.comment {
  margin-top: 1em;
  margin-bottom: 1em;
  border-left: 0;
  padding-left: 0;
  line-height: 1.4;
  font-size: .95em;
  // border-top: 1px solid $light;
  // border-bottom: 1px solid $light;

  @include media-query($on-mobile) {
    display: block;
    font-size: $small-font-size;

    .foo {
      display: block;
      width: 100%;
    }
  }
}

.entry-date {
    font-size: .85em;
}

.recentcomments a {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}

.commentAuthor {
  font-size: .95em;
  font-weight: bold;
  margin-bottom: 0px;
}

.commentAvatar {
  float: left;
  width: 70px;
}

.commentRight {
  margin-left: 90px;
  text-transform: none;
}

.commentMessage {
  margin-top: .3em;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-style: solid;
}

input[type=text]:focus {
  border: 2px solid #555;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
}

button {
  padding: 12px 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
}

.btn-ready {
  background-color: blue;
  color: white;
}

.btn-ok {
  background-color: #4CAF50;
}

.btn-err {
  background-color: #f44336;
}