<!-- Layout for individual pages -->
{{ partial "header.html" . }}

<div id="main">
  <div id="content">
    <div>
      <article class="hentry" role="article">
        <header>
          <h1>
            {{ .Title }} <!-- we don't need page title to be a link on the actual page -->
          </h1>
          <p class="meta">{{ .Date | time.Format ":date_medium" }}

          <!-- if you want anything in the header between Disqus comments and categories add them here -->

          {{ if isset .Params "categories" }}
          <!-- <br/> this will make the categories go to the second line and mess with the title -->
          {{ range .Params.categories }}<a class="label" href="{{ "/categories/" | absURL }}{{ . | urlize | lower }}">{{ . }}</a>{{ end }}
          {{ end }}</p>
        </header>
        <div class="entry-content">
          <!-- insert table of contents if it is set either in the config file or in the frontmatter - frontmatter has priority -->
          {{ $.Scratch.Set "pagetoc" .TableOfContents }}
          {{ if or (and (isset .Params "toc") (eq .Params.toc true)) (and (not (isset .Params "toc")) (eq .Site.Params.tableOfContents true)) }}
            {{ $.Scratch.Get "pagetoc" }}
          {{ end }}
          {{ .Content }}
        </div>
        {{ partial "post_footer.html" . }}
      </article>
    </div>
    {{ partial "sidebar.html" . }}
  </div>
</div>

{{ partial "footer.html" . }}
